# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# tooling
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias where="which"

# git
alias g="git"
alias gcm="git commit -am"
alias gco="git checkout"
alias gp="git pull"
alias gpu="git push"
alias master="git checkout master"

# k8s  
alias kc="kubectl"
alias kcc="kubectl create"
alias kccn="kubectl create namespace"
alias kcd="kubectl delete"
alias kcdd="kubectl delete deploy"
alias kcdi="kubectl delete ingress"
alias kcdn="kubectl delete namespace"
alias kcdp="kubectl delete pods"
alias kcds="kubectl delete svc"
alias kce="kubectl describe"
alias kced="kubectl describe deploy"
alias kcei="kubectl describe ingress"
alias kcen="kubectl describe namespace"
alias kcep="kubectl describe pods"
alias kces="kubectl describe svc"
alias kcg="kubectl get"
alias kcgd="kubectl get deploy"
alias kcgi="kubectl get ingress"
alias kcgn="kubectl get namespaces"
alias kcgp="kubectl get pods"
alias kcgs="kubectl get svc"
alias kcns="kubens"
alias kcx="kubectx"

# yarn
alias y="yarn"
alias yb="yarn build"
alias ybw="yarn build:watch"
alias ys="yarn start"
alias yt="yarn test"
alias ytw="yarn test:watch"