# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# system
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias where="which"
alias chmox="chmod +x"

# git
alias g="git"
alias gb="git branch"
alias gcm="git commit -am"
alias gco="git checkout"
alias gf="git fetch"
alias gm="git merge"
alias gmm="git merge master"
alias gp="git pull"
alias gps="git push"
alias master="git checkout master"

# k8s  
alias kc="kubectl"
alias kcc="kubectl create"
alias kccn="kubectl create namespace"
alias kcd="kubectl delete"
alias kcdc="kubectl delete configmap"
alias kcdd="kubectl delete deploy"
alias kcdi="kubectl delete ingress"
alias kcdn="kubectl delete namespace"
alias kcdp="kubectl delete pods"
alias kcds="kubectl delete svc"
alias kce="kubectl describe"
alias kcec="kubectl describe configmap"
alias kced="kubectl describe deploy"
alias kcei="kubectl describe ingress"
alias kcen="kubectl describe namespace"
alias kcep="kubectl describe pods"
alias kces="kubectl describe svc"
alias kcg="kubectl get"
alias kcgc="kubectl get configmap"
alias kcgd="kubectl get deploy"
alias kcgi="kubectl get ingress"
alias kcgn="kubectl get namespaces"
alias kcgp="kubectl get pods"
alias kcgs="kubectl get svc"
alias kcgcw="kubectl get configmap -w"
alias kcgdw="kubectl get deploy -w"
alias kcgiw="kubectl get ingress -w"
alias kcgnw="kubectl get namespaces -w"
alias kcgpw="kubectl get pods -w"
alias kcgsw="kubectl get svc -w"
alias kcns="kubens"
alias kcpf="kubectl port-forward"
alias kcx="kubectx"

# docker
alias d="docker"
alias db="docker build"
alias de="docker exec"
alias di="docker images"
alias dk="docker kill"
alias dps="docker ps"
alias dr="docker run"

# yarn
alias y="yarn"
alias yb="yarn build"
alias ybw="yarn build:watch"
alias ys="yarn start"
alias yt="yarn test"
alias ytw="yarn test:watch"

# shipyard
alias ss="shipyard sandbox"
alias ssc="shipyard sandbox create"
alias ssg="shipyard sandbox get"
alias ssk="shipyard sandbox delete"
alias ssl="shipyard sandbox list"
alias ssu="shipyard sandbox update"