#!/bin/bash

# Expose local port to the web
function exp() {
	ssh -R "80:localhost:$@" "serveo.net"
}

# Kills a process based on the exposed port
function kp() {
	kill `lsof -i :$@ -t`
}

# Create a new directory and enter it
function mkd() {
	mkdir -p $@ && cd $@
}